@model MedData

@{
    var medDataKeywords = ViewBag.MedDataKeywords as IList<string?>;

    string HighlightKeywords(string text, IList<string> keywords)
    {
        for (int i = 0; i < keywords.Count(); i++)
        {
            var kw = keywords[i];
            var highlightStyle = i == 0 ? "current_keyword" : "not_annotated_keyword";
            if (!string.IsNullOrEmpty(kw))
            {
                var replacement = $"<span id='keyword-{i}' class='{highlightStyle} keyword'>{kw}</span>";
                text = text.Replace(kw, replacement);
            }
        }

        return text;
    }

    string? transformedImageDescription = default;

    if (Model != null)
    {
        transformedImageDescription = HighlightKeywords(Model.ImageDescription!, medDataKeywords!);
    }
}

<link rel="stylesheet" href="~/css/indexPage.css" asp-append-version="true" />

@if (Model != null)
{
    <div class="container">
        <div class="header-text">
            <p style="color:grey;">@Html.Raw(transformedImageDescription)</p>
        </div>

        <div class="main-content">
            <div class="annotation-section">
                <div id="image-container">
                    @* <img id="sourceImage" src="@Model.ImageUrl" alt="Image for Annotation" style="display:none;"> *@
                    <img id="sourceImage"
                        src="https://media.istockphoto.com/id/1361394182/photo/funny-british-shorthair-cat-portrait-looking-shocked-or-surprised.jpg?s=612x612&w=0&k=20&c=6yvVxdufrNvkmc50nCLCd8OFGhoJd6vPTNotl90L-vo="
                        alt="Image for Annotation" style="display:none;">
                    <div id="canvasContainer">
                        <canvas id="mainCanvas"></canvas>
                        <img id="magnifyToggle" src="~/images/magnifying-glass.png" alt="Toggle Magnifier">
                    </div>
                </div>
                <div class="buttons-section">
                    <button
                        title="Click Not Visible if you are certain that it is not possible to visually annotate the current medical term in this particular image."
                        id="not-present-button" type="button" class="button btn btn-block">
                        Not Visible/Abstract
                    </button>
                    <button
                        title="Click Location Uncertain if you are unsure whether the current medical term is present in the image at all, or of its exact location."
                        id="skip-button" type="button" class="button btn btn-block">
                        Uncertain/Skip
                    </button>
                    <button id="previous-button" type="button" class="button btn btn-block" disabled>
                        Previous Term
                    </button>
                    <button id="next-button" type="button" class="button btn btn-block" disabled>
                        Save and Next Term
                    </button>
                </div>
            </div>

            <div class="metadata">
                <div class="metadata-inner">
                    <h5 style="color: #a9000e; font-weight: bold;">@Model.Diagnosis</h5>
                    <p><a href="@($"https://www.ncbi.nlm.nih.gov/pmc/articles/{Model.Pmcid}")"
                            style="color: #a9000e;">Original Publication (optional)</a></p>
                    @if (Model.Speciality != "u" && Model.Speciality != "na")
                    {
                        <p><strong>Speciality: </strong>@Model.Speciality</p>
                    }
                    @if (Model.Sex != "u" && Model.Sex != "na")
                    {
                        <p><strong>Sex: </strong>@Model.Sex</p>
                    }
                    @if (Model.Age != "u" && Model.Age != "na")
                    {
                        <p><strong>Age: </strong>@Model.Age</p>
                    }
                    @if (Model.SkinTone != "u" && Model.SkinTone != "na")
                    {
                        <p><strong>Skin Tone: </strong>@Model.SkinTone</p>
                    }
                    @if (Model.BodyRegion != "u" && Model.BodyRegion != "na")
                    {
                        <p><strong>Body Region: </strong>@Model.BodyRegion</p>
                    }
                </div>
                <div class="comments-section">
                    <span class="form-label text-dark">Any Comments?</span>
                    <textarea class="form-control" id="comments" placeholder="Leave your comments here..."></textarea>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="centered-container">
        <h3 class="mb-4" style="color: #a9000e;">
            No more data is available for annotation in this specialty.
        </h3>
    </div>
}
<div class="logout-section">
    <button id="end-button" type="button">
        Log Out
    </button>
</div>

<script type="text/javascript" defer>
    window.annotatedMedData = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/indexPage.js" asp-append-version="true" defer></script>
